@import "variable";

.card {
  box-shadow: map-get($sombras, card-quieta);
  transition: $transition;
  border-radius: map-get($bordes-redondos, mediano);

  .card__a {
    text-decoration: $decoration-none;
    color: map-get($colors, cremita);
    background-color: map-get($colors, rosita);
    text-align: map-get($texts-align, start);
    border-radius: map-get($bordes-redondos, mediano);

    .card-title {
      text-decoration: $decoration-none;
    }

    .card-text {
      text-decoration: $decoration-none;
    }
  }

  &:hover {
    transition: $transition;
    transform: $transform;
    box-shadow: map-get($sombras, card-volando);
  }
}
