@import "variable";
@import "mixins";

.card {
  @include card();

  .card__a {
    @include card-a();

    .card-title {
      text-decoration: $decoration-none;
    }

    .card-text {
      text-decoration: $decoration-none;
      max-height: 10rem;
      min-height: 10rem;
      overflow: hidden;
    }
  }

  &:hover {
    @include card-hover();
  }
}
