@import "variable";

.footer {
  ul {
    li {
      display: inline-block;
      list-style-type: $decoration-none;

      a {
        text-decoration: $decoration-none;
        color: map-get($colors, rosita);
      }
    }
  }
}