@import "variable";

.footer {
  ul {
    li {
      display: inline-block;
      list-style-type: $decoration-none;

      a {
        text-decoration: $decoration-none;
        color: map-get($colors, rosita);

        .iconify {
          align-items: center;
        }
      }

      &:hover {
        transform: rotate(-360deg);
        transition: 0.5s ease-out;
      }
    }
  }

  .copyright {
    color: map-get($colors, rosita);

    a {
      text-decoration: $decoration-none;
      color: map-get($colors, rosita);
    }
  }
}