@import "variable";

@mixin background-color($background-color: map-get($colors, cremita)) {
  background-color: $background-color;
}

@mixin detalle-form($background-color: map-get($colors, rosita), $border-color: map-get($colors, marron)) {
  @include background-color($background-color);
  border-radius: map-get($bordes-redondos, peque);
  border-color: $border-color;
}

@mixin detalle-form-hover($background-color: map-get($colors, marron), $color: map-get($colors, cremita)) {
  @include background-color($background-color);
  color: $color;
}

@mixin detalle-form-button($background-color: map-get($colors, marron), $color: map-get($colors, cremita)) {
  @include background-color($background-color);
  width: 100%;
  color: $color;
  border: $decoration-none;
  border-radius: map-get($bordes-redondos, peque);
  cursor: pointer;
}

@mixin detalle-form-button-hover($background-color: map-get($colors, rosita), $color: map-get($colors, marron)) {
  @include background-color($background-color);
  color: $color;
  box-shadow: map-get($sombras, card-quieta);
  transition: 0.6s;
}

@mixin card($border-radius: map-get($bordes-redondos, mediano)) {
  box-shadow: map-get($sombras, card-quieta);
  transition: $transition;
  border: $decoration-none;
  border-radius: $border-radius;
}

@mixin card-a($background-color: map-get($colors, rosita), $color: map-get($colors, cremita)) {
  @include background-color($background-color);
  text-decoration: $decoration-none;
  color: $color;
  text-align: map-get($texts-align, start);
  border-radius: map-get($bordes-redondos, mediano);
}

@mixin card-hover($sombra: map-get($sombras, card-volando)) {
  transition: $transition;
  transform: $transform;
  box-shadow: $sombra;
}

@mixin navbar-hover($background-color: map-get($colors, cremita), $color: map-get($colors, marron)) {
  @include background-color($background-color);
  color: $color;
  border-radius: map-get($bordes-redondos, mediano);
  transition: 0.12s;
}

@mixin header($background-imagen) {
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 60%,
                  rgba(0, 0, 0, 0.8) 100%),
  url($background-imagen);
  background-size: cover;
  background-position: center;
}

@mixin header-text($color: map-get($colors, cremita), $font-size: 2rem) {
  margin: 4rem;
  font-size: $font-size;
  color: $color;
  text-shadow: 0.5px 0.5px 5px #472D2D;
}

@mixin mensaje($background-imagen, $height, $color: map-get($colors, cremita),$font-size: 1.5rem) {
  background-image: url($background-imagen);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: $height;
  align-items: center;
  text-align: start;
  color: $color;
  text-shadow: 0.5px 0.5px 5px #472D2D;
  font-size: 1.5rem;
  padding: 1em;
}
