@import "variable";


@mixin detalle-form($background-color: map-get($colors, rosita), $border-color: map-get($colors, marron)) {
  border-radius: map-get($bordes-redondos, peque);
  background-color: $background-color;
  border-color: $border-color;
}

@mixin detalle-form-hover($background-color: map-get($colors, marron), $color: map-get($colors, cremita)) {
  background-color: $background-color;
  color: $color;
}

@mixin detalle-form-button($background-color: map-get($colors, marron), $color: map-get($colors, cremita)) {
  width: 100%;
  background-color: $background-color;
  color: $color;
  border: $decoration-none;
  border-radius: map-get($bordes-redondos, peque);
  cursor: pointer;
}

@mixin detalle-form-button-hover($background-color: map-get($colors, rosita), $color: map-get($colors, marron)) {
  background-color: $background-color;
  color: $color;
  box-shadow: map-get($sombras, card-quieta);
  transition: 0.6s;
}

@mixin card($border-radius: map-get($bordes-redondos, mediano)) {
  box-shadow: map-get($sombras, card-quieta);
  transition: $transition;
  border-radius: $border-radius;
}

@mixin card-a($background-color: map-get($colors, rosita), $color: map-get($colors, cremita)) {
  text-decoration: $decoration-none;
  color: $color;
  background-color: $background-color;
  text-align: map-get($texts-align, start);
  border-radius: map-get($bordes-redondos, mediano);
}

@mixin card-hover($sombra: map-get($sombras, card-volando)) {
  transition: $transition;
  transform: $transform;
  box-shadow: $sombra;
}

@mixin navbar(){
  color: map-get($colors, marron);
  border-radius: map-get($bordes-redondos, mediano);
  background-color: map-get($colors, cremita);
  transition: 0.12s;
}