@import "variable";

.navbar_button {
  background-color: map-get($colors, rosita);
  border-radius: map-get($bordes-redondos, grande);

  div {
    div {
      ul {
        li {
          &:hover {
            color: map-get($colors, marron);
            border-radius: map-get($bordes-redondos, mediano);
            background-color: map-get($colors, cremita);
            transition: 0.12s;
          }
        }
      }
    }
  }
}