@import "variable";
@import "mixins";

.navbar_button {
  margin: 3rem;
  @include background-color(map-get($colors, rosita));
  border-radius: map-get($bordes-redondos, grande);

  div {
    ul {
      li {
        width: 100%;

        &:hover {
          @include navbar-hover();
        }

        @media screen {

        }
      }
    }
  }
}